<div class="modal fade" id="sellModal-{{ owned_item.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <form method="POST">
            {{ sell_form.hidden_tag() }}
            <br>
            <h4 class="text-center">
              Are you sure you want to buy {{ owned_item.name}} for ${{owned_item.price}} ?
            </h4>
            <br>
            <h6 class="text-center">
              By clicking sell, you will sell this item.
            </h6>
            <br>
            <input id="sold_item" name="sold_item" type="hidden" value="{{ owned_item.name }}">
            {{ sell_form.submit(class="btn btn-outline-success btn-block") }}
          </form>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>